html{
  scroll-behavior: smooth;
}

body{
  text-align: center;
  background-color: grey;
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
}

h1{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5%;
  letter-spacing: 10px;
  font-size: 3rem !important;
}

.intro, .description, .skills, .experience, .education, .programingLanguages {
  align-items: center;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.2);
}

span{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 10px 50px;
}

.headerSpan{
  text-decoration-line: none;
  color: rgb(120, 122, 145);
  padding: 2%;
}

.header {
  margin: 0%;
  text-align: center;
  background-color: rgb(26, 55, 77);
  color: rgb(120, 122, 145);
  font-family: 'Roboto', sans-serif;
  padding: 2%;
}

.navBarCustom{
  background-color: rgb(26, 55, 77) !important;
  color: rgb(120, 122, 145) !important;
  font-family: 'Source Sans Pro', sans-serif;
}

.fontawesome{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: auto;
  display: inline-block;
  font-style: normal;
  text-align: left;
}

.intro-left, .intro-mid, .intro-right{
  padding: 5%;
  animation: wipe-enter 1s;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, 0);
	}
}

.intro{
  padding: 5% 10% 10%;
  background-color: rgb(26, 55, 77);
  color: rgb(120, 122, 145);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.intro-right{
  font-family: 'Cedarville Cursive', cursive;
}

.introh2{
  margin-top: 15%;
  font-size: 3rem;
}

.avatar{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.greeting{
  padding: 2%;
  font-size: 4rem;
  font-family: 'Bad Script', cursive;
}

.paraTech{
  letter-spacing: 2px;
  font-weight: 600;
}

.description{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(64, 104, 130);
  padding: 15%;
  text-align: center;
}

.des{
  width: 60%;
  margin: auto;
}

.lh-base{
  text-align: justify;
  margin: 3% 3%;
  font-size: 1.25rem;
  letter-spacing: 2px;
  opacity: 0;
}

.skills{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 5% 10%;
  background-color: rgb(64, 104, 130);
}

.logo{
  height: 100px;
  width: 100px;
  margin: 5%;
  padding: 5px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.logo:hover{
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.5);
}

.logowide{
  height: 100px;
  width:150px;
  margin: 5%;
  padding: 5px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: transform .5s ease-in-out;
}

.logowide:hover{
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.5);
}

.logoh{
  height: 80px;
  width: 100px;
  margin: 7% 5%;
  padding: 5px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: transform .5s  ease-in-out;
}

.logoh:hover{
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.5);
}

.logodiv{
  padding: 2%;
  border-radius: 5px;
}

.andmore{
  font-family: 'Mali', cursive;
  margin-top: 10%;
  padding: 2%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.andmore:hover{
  text-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.5);
}


.work{
  font-family: 'Roboto', sans-serif;
  padding: 5% 10%;
  background-color: rgb(64, 104, 130);
}

.workcol{
  padding: 5%;
  min-height: 200px;
  max-height: auto;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  margin: 5px 5px;
  border-radius: 5px;
}

.workFlow{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(12, 123, 147);
}

.accordion{
  padding: 2%;
  background-color: transparent !important;
  border: none !important;

}
.accordion-item{
  background-color: transparent !important;
  border:none !important;
  padding: 0;
  margin: 0;
    box-shadow: 0 5px 10px black;
}

.edu-image{
  margin-left: 45%;
  margin-right: 40%;
  height: 150px;
  width: 150px;
}

.edutitle{
  text-align: center;
}

.eduIcon{
  font-size: 100px;
}

.eduImage{
  height: 75px;
  width: 75px;
  float: left;
  margin: 5%;
  border-radius: 20%;
}

.education{
  font-family: 'Roboto', sans-serif;
  background-color:rgb(56, 163, 165);
  padding: 10% 15%;
}

.programingLanguages{
  background-color: rgb(64, 104, 130);
    font-family: 'Roboto', sans-serif;
    padding: 5% 10%;
}

.pldiv{
  margin-top: 5%;
  margin-bottom: 5%;
}

.parapl{
  text-align: justify;
  margin: 15px;
  padding: 5px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: : transform 1s ease-in-out;
}

.parapl:hover{
  transform: scale(1.25);
}

.footer{
  font-family: 'Roboto', sans-serif;
  padding: 5% 5% 5%;
  text-align: center;
  background-color: rgb(26, 55, 77);
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.href{
  color: black;
}

.footer-icon{
  padding: 0% 2% 2% 0;
}

.footer-p{
  text-align: center;
  color: rgb(26, 55, 77);
  padding: 0px;
}

.revealClass{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.revealClass.active{
  transform: translateY(0px);
  opacity: 1;
}

.btn{
  background: white !important;
  color:black !important;
}

.pause{
  background-color: black !important;
  color: white !important;
}


/* when at tablet size (0-900) apply below styles  */
@media (max-width: 900) {

}
